
@* <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">
    <script>
        var pdfUrl = '@Url.Content(ViewBag.PdfPath)';
        function loadPdfViewer(selector) {
            
            var viewer = new DsPdfViewer(selector, { /* Specify options here */ }
            );
            viewer.addDefaultPanels();
            // viewer.open("https://localhost:7012/book-files/4cb8067e-de32-4cea-acb9-edea4da562c9_GRU.pdf"); this is sample
            viewer.open(pdfUrl);
        }
    </script>
</head>
<body onload="loadPdfViewer('#root')">
    <div id="root" style="height:708px; width:118.8%; margin-left:-125px; margin-top:-16px"></div>
    <script type="text/javascript" src="/lib/node_modules/mescius/dspdfviewer/dspdfviewer.js"></script>
</body>
</html> *@


@{
    ViewData["Title"] = "PDF Viewer";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <!-- Responsive height controlled by CSS -->
            <div id="pdf-container" class="border rounded shadow" style="width: 183%; height: 86.55vh; margin-top:-30px; margin-bottom:-40px; margin-left:-349px; "></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.3.0/pdfobject.min.js"></script>
    <script>
        // Pass the PDF URL dynamically from the server-side
        var pdfUrl = '@Url.Content(ViewBag.PdfPath)';
        var options = {
            width: "100%",
            height: "100%", // PDFObject will fill the container
            
        };
        PDFObject.embed(pdfUrl, "#pdf-container", options);
    </script>
}

